textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
.change thead tr th{
    background-color: #1d62a7;
}
.btn{
    background-color: #1d62a7;
    color: white;
  } 

  .table th{
      background-color: #1d62a7;
      color: white;
  }