<div>
  <div class="card shadow" style="padding:20px ;">
    <span style="font-size: 17px;"><b>Contact Management System</b></span>
    <hr>
    <div *ngIf="userstatus">
      <div class="float-right" *ngIf="!moreInfo">
        <button class="btn float-right" style="background-color: #1d62a7;color: white;" data-toggle="modal"
          data-target="#myModal">Create Contact</button>
      </div>
    </div>

    <div  *ngIf="!moreInfo">
      <div class="col-5">
        <input type="search" class="form-control " placeholder="Search By Customer Id,ContactName,BDM"
          [(ngModel)]="search">
      </div>
      <div class="table table-responsive" style="padding: 15px;">

        <table class="table text-center tablefontsize" style="border-radius: 3px;font-size:14px">

          <thead style="background-color: #1d62a7; color: cornsilk; ">
            <th>Contact Id</th>
            <th>Customer</th>
            <th>Contact Name</th>
            <th>Mobile Number</th>
            <th>Business Email</th>
            <th>Contact Designation</th>
            <th>Contact Department</th>
            <th>BDM</th>
            <th>More Info</th>
            <!-- <th>Delete</th> -->

          </thead>
          <tbody>
            <tr
              *ngFor="let contactInfoTable of table| contactsearch:key |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i=index "
              class="text-center">
              <td *ngFor="let g of table_heading">{{contactInfoTable[g]}}</td>
            </tr>
            <tr
              *ngFor="let g of data| contactsearch:search | paginate: { itemsPerPage: pages, currentPage:pd, id:'pd' };let i=index ">
              <td>{{g.contactId}}</td>
              <td>{{change(g.customerId)}}</td>
              <td>{{g.contactName}}</td>
              <td>{{g.permanentMobileNumber}}</td>
              <td>{{g.officialEmail}}</td>
              <td>{{g.designation}}</td>
              <td>{{g.department}}</td>
              <td>{{g.bdm}}</td>
              <td><img src="assets/moreinfo.jpg" height="20px" width="20px" style="cursor: pointer;"
                  (click)="moreInfo=!moreInfo;selectedId(g.contactId)"></td>
            </tr>
          </tbody>

        </table>

      </div>
      <div>
        <span class="m-2">Items per page</span>
        <select [(ngModel)]="pages" (change)="pd=1">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
        <pagination-controls (pageChange)="pd = $event" id="pd" style="float:right"></pagination-controls>


      </div>

    </div>
    <div *ngIf="moreInfo">
      <div class="in">
        <div class="row">
          <div>
            <h5>{{data.customerName|uppercase}}Contact Details</h5>
          </div>
          <button class="btn bttn btn-sm ml-auto" (click)=" moreInfo=!moreInfo">Back</button>
        </div>
        <hr>

      </div>
      <div *ngIf="userstatus">
        <div class="row">

          <i class="fa fa-edit ml-auto" style="font-size: 18px;" style="color: #1d62a7;font-size: 20px;"
            (click)=selectedId(g.contactId) data-toggle="modal" aria-hidden="true" data-target="#myModal1"></i>
        </div>
      </div><br>
      <div class="row marBtom">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card shadow">
            <div class="header shadow">
              <b>Contact Details</b>
            </div>
            <div class="in">
              <div class="row">


                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <p><b>Contact Id </b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.contactId}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Customer</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{customerId}} ({{getcontactdataidres.customerId}})</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Contact Name </b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.contactName}}</p>
                    </div>
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <p><b>Personal Mobile Number </b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.permanentMobileNumber}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Customer BusinessEmail </b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.officialEmail}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Designation</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.designation}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <p><b>Department</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.department}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class=" marBtom">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card shadow">
            <div class="header shadow">
              <b>Personal Info</b>
            </div>
            <div class="in">

              <div class="row">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <p><b>Personal Email</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.personalEmail}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Alternate Mobile Number</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.alternateMobileNumber}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <p><b>Date of Birth</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.dob}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <p><b>Date of Anniversary</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.doa}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <p><b>State</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.state}}</p>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-4">
                      <p><b>Address</b></p>
                    </div>
                    <div class="col-1">
                      <p>:</p>
                    </div>
                    <div class="col-7">
                      <p>{{getcontactdataidres.address1}}</p>
                      <p>{{getcontactdataidres.address2}} </p>
                      <p>{{getcontactdataidres.address3}} </p>
                      <p>{{getcontactdataidres.pincode}} </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<!--mymodal1 starts-->
<div class="modal" id="myModal1" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Contact details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="contactForm.reset()">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm">
          <label>Customer Contact Id: {{contactId}}</label>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Contact Name</label>
                <input type="text" class="form-control" placeholder="contact name" formControlName="contactName">
                <span style="color:red"
                  *ngIf="contactForm.get('contactName').invalid && contactForm.get('contactName').touched">
                  <span *ngIf="contactForm.get('contactName').errors.required">
                    name is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> Contact Department</label>
                <input type="text" class="form-control" placeholder="Conatct Department"
                  formControlName="contactDepartment">
                <span style="color:red"
                  *ngIf="contactForm.get('contactDepartment').invalid && contactForm.get('contactDepartment').touched">
                  <span *ngIf="contactForm.get('contactDepartment').errors.required">
                    Contact Department is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <br>
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Select Designation</mat-label>
                  <mat-select formControlName="contactDesignation">
                    <mat-option *ngFor="let d of empDesignationlist" [value]="d.designation">{{d.designation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <span style="color:red"
                  *ngIf="contactForm.get('contactDesignation').invalid && contactForm.get('contactDesignation').touched">
                  <span *ngIf="contactForm.get('contactDesignation').errors.required">
                    Designation is required.
                  </span>

                </span>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Personal Email</label>
                <input type="text" class="form-control" placeholder="Personal Email"
                  formControlName="contactPersonalEmail">
                <span style="color:red"
                  *ngIf="contactForm.get('contactPersonalEmail').invalid && contactForm.get('contactPersonalEmail').touched">
                  <span *ngIf="contactForm.get('contactPersonalEmail').errors.required">
                    Personal Email is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> Business Email</label>
                <input type="text" class="form-control" formControlName="contactOfficialEmail">
                <span style="color:red"
                  *ngIf="contactForm.get('contactOfficialEmail').invalid && contactForm.get('contactOfficialEmail').touched">
                  <span *ngIf="contactForm.get('contactOfficialEmail').errors.required">
                    Business Email is required.
                  </span>



                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>BDM </label>
                <input type="text" class="form-control" placeholder="BDM" formControlName="bdm">
                <span style="color:red" *ngIf="contactForm.get('bdm').invalid && contactForm.get('bdm').touched">
                  <span *ngIf="contactForm.get('bdm').errors.required">
                    BDM is required.
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Personal Mobile Number</label>
                <input type="text" class="form-control" placeholder="Mobile number" formControlName="contactMobileNo"
                  (keypress)="number($event)" maxlength="10">
                <span style="color:red"
                  *ngIf="contactForm.get('contactMobileNo').invalid && contactForm.get('contactMobileNo').touched">
                  <span *ngIf="contactForm.get('contactMobileNo').errors.required">
                    Mobile Number is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> Alternate Mobile Number</label>
                <input type="text" class="form-control" placeholder="Alt Mobile number"
                  formControlName="alternateMobileNo" (keypress)="number($event)" maxlength="10">
                <span style="color:red"
                  *ngIf="contactForm.get('alternateMobileNo').invalid && contactForm.get('alternateMobileNo').touched">
                  <span *ngIf="contactForm.get('alternateMobileNo').errors.required">
                    Alternate Mobile Number is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> DOB </label>
                <input type="text" class="form-control" placeholder="DOB : dd/mm" formControlName="dob">
                <span style="color:red" *ngIf="contactForm.get('dob').invalid && contactForm.get('dob').touched">
                  <span *ngIf="contactForm.get('dob').errors.required">
                    DOB is required.
                  </span>

                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Anniversary </label>
                <input type="text" class="form-control" placeholder="Anniversary : dd/mm" formControlName="anniversary">
                <span style="color:red"
                  *ngIf="contactForm.get('anniversary').invalid && contactForm.get('anniversary').touched">
                  <span *ngIf="contactForm.get('anniversary').errors.required">
                    Anniversary is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <br>
                <mat-form-field>
                  <mat-label>Select States</mat-label>
                  <mat-select formControlName="state">
                    <mat-option *ngFor="let d of StateList" [value]="d.stateName">{{d.stateName}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>

              </div>

            </div>
            <div class="col-4">
              <div class="form-group">
                <label> Pin Code</label>
                <input type="text" class="form-control" placeholder="Pin Code" formControlName="pincode"
                  (keypress)="number($event)">
                <span style="color:red"
                  *ngIf="contactForm.get('pincode').invalid && contactForm.get('pincode').touched">
                  <span *ngIf="contactForm.get('pincode').errors.required">
                    Pincode is required.
                  </span>

                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Address Line1 </label>
                <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address1"
                  name=address1 placeholder="Address Line1"></textarea>
                <span style="color:red"
                  *ngIf="contactForm.get('address1').invalid && contactForm.get('address1').touched">
                  <span *ngIf="contactForm.get('address1').errors.required">
                    Address1 is required.
                  </span>

                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Address Line2 </label>
                <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address2"
                  name=address2 placeholder="Address Line2"></textarea>
                <span style="color:red"
                  *ngIf="contactForm.get('address2').invalid && contactForm.get('address2').touched">
                  <span *ngIf="contactForm.get('address2').errors.required">
                    Address2 is required.
                  </span>

                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label> Address Line3 </label>
                <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address3"
                  name=address3 placeholder="Address Line3"></textarea>
                <span style="color:red"
                  *ngIf="contactForm.get('address3').invalid && contactForm.get('address3').touched">
                  <span *ngIf="contactForm.get('address3').errors.required">
                    Address3 is required.
                  </span>

                </span>
              </div>
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button class=" btn float-right" style="background-color: #1d62a7; color: white;" data-dismiss="modal"
          type="submit" [disabled]="contactForm.invalid"
          (click)="updateCustomerContactInfo(contactForm.value)">Update</button><br>
        <button class="btn" data-dismiss="modal" style="background-color: #1d62a7; color: white;"
          aria-label="Close">Cancel</button>
      </div>

    </div>
  </div>

</div>
<!--mymodal starts-->

<div class="modal" id="myModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Contact Creation</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="contactForm.reset(); status=!status">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm">
          <div class="row">
            <div class="col-md-6">

              <mat-form-field>
                <mat-label>Select Customer</mat-label>
                <mat-select formControlName="selectCustomer" (selectionChange)="selectedCustomer($event.value)"
                  disableOptionCentering>
                  <mat-option *ngFor="let data of customersAllData" [value]="data.customerId">
                    {{data.customerName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="status">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contact Name</label>
                  <input type="text" class="form-control" placeholder="Contact Name" formControlName="contactName">
                  <span style="color:red"
                    *ngIf="contactForm.get('contactName').invalid && contactForm.get('contactName').touched">
                    <span *ngIf="contactForm.get('contactName').errors.required">
                      name is required.
                    </span>
                    <span *ngIf="contactForm.get('contactName').errors.pattern">
                      enter alphabets only
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Contact Department</label>
                  <input type="text" class="form-control" placeholder="Conatct Department"
                    formControlName="contactDepartment">
                  <span style="color:red"
                    *ngIf="contactForm.get('contactDepartment').invalid && contactForm.get('contactDepartment').touched">
                    <span *ngIf="contactForm.get('contactDepartment').errors.required">
                      contact department is required.
                    </span>
                    <span *ngIf="contactForm.get('contactDepartment').errors.pattern">
                      enter alphabets only
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <br>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label>Select Designation</mat-label>
                    <mat-select formControlName="contactDesignation" disableOptionCentering>
                      <mat-option *ngFor="let d of empDesignationlist" [value]="d.designation">{{d.designation}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <span style="color:red"
                    *ngIf="contactForm.get('contactDesignation').invalid && contactForm.get('contactDesignation').touched">

                    <span *ngIf="contactForm.get('contactDesignation').errors.required">
                      designation is required.
                    </span>

                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Personal Email</label>
                  <input type="text" class="form-control" placeholder="Personal Email"
                    formControlName="contactPersonalEmail">
                  <span style="color:red"
                    *ngIf="contactForm.get('contactPersonalEmail').invalid && contactForm.get('contactPersonalEmail').touched">
                    <span *ngIf="contactForm.get('contactPersonalEmail').errors.required">
                      email id is required.
                    </span>
                    <span *ngIf="contactForm.get('contactPersonalEmail').errors.pattern">
                      email should be valid
                    </span>

                  </span>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label> Business Email</label>
                  <input type="text" class="form-control" placeholder=" Business Email"
                    formControlName="contactOfficialEmail">
                  <span style="color:red"
                    *ngIf="contactForm.get('contactOfficialEmail').invalid && contactForm.get('contactOfficialEmail').touched">
                    <span *ngIf="contactForm.get('contactOfficialEmail').errors.required">
                      email id is required.
                    </span>
                    <span *ngIf="contactForm.get('contactOfficialEmail').errors.pattern">
                      email should be valid
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Mobile Number</label>
                  <input type="text" class="form-control" placeholder="Mobile number" formControlName="contactMobileNo"
                    (keypress)="number($event)" maxlength="10">
                  <span style="color:red"
                    *ngIf="contactForm.get('contactMobileNo').invalid && contactForm.get('contactMobileNo').touched">
                    <span *ngIf="contactForm.get('contactMobileNo').errors.required">
                      mobile number is required.
                    </span>
                    <span *ngIf="contactForm.get('contactMobileNo').errors.pattern">
                      mobile number should be valid.
                    </span>

                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Alternate Mobile Number</label>
                  <input type="text" class="form-control" placeholder="Alt Mobile number"
                    formControlName="alternateMobileNo" (keypress)="number($event)" maxlength="10">
                  <span style="color:red"
                    *ngIf="contactForm.get('alternateMobileNo').invalid && contactForm.get('alternateMobileNo').touched">
                    <span *ngIf="contactForm.get('alternateMobileNo').errors.required">
                      alternate mobile number is required.
                    </span>
                    <span *ngIf="contactForm.get('alternateMobileNo').errors.pattern">
                      alternate mobile number should be valid.
                    </span>

                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>BDM </label>
                  <input type="text" class="form-control" placeholder="BDM" formControlName="bdm">
                  <span style="color:red" *ngIf="contactForm.get('bdm').invalid && contactForm.get('bdm').touched">
                    <span *ngIf="contactForm.get('bdm').errors.required">
                      BDM is required.
                    </span>
                    <span *ngIf="contactForm.get('bdm').errors.pattern">
                      enter alphabets only
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> DOB </label>
                  <input class="form-control" placeholder="DOB : dd/mm" formControlName="dob"
                    (keyup)="dateValidation($event.target.value)">
                  <span style="color:red" *ngIf="contactForm.get('dob').invalid && contactForm.get('dob').touched">
                    <span *ngIf="contactForm.get('dob').errors.required">
                      DOB is required.
                    </span>
                    <span *ngIf="contactForm.get('dob').errors.pattern">
                      please enter valid date of birth.
                    </span>

                  </span>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-4">
                <div class="form-group">
                  <label> Anniversary </label>
                  <input type="text" class="form-control" placeholder="Anniversary : dd/mm"
                    formControlName="anniversary" (keyup)="dateValidation1($event.target.value)">
                  <span style="color:red"
                    *ngIf="contactForm.get('anniversary').invalid && contactForm.get('anniversary').touched">
                    <span *ngIf="contactForm.get('anniversary').errors.required">
                      anniversary is required.
                    </span>
                    <span *ngIf="contactForm.get('anniversary').errors.pattern">
                      please enter valid date of anniversary.
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <br>
                  <mat-form-field>
                    <mat-label>Select States</mat-label>
                    <mat-select formControlName="state" disableOptionCentering>
                      <mat-option *ngFor="let d of StateList" [value]="d.id">{{d.stateName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <span style="color:red" *ngIf="contactForm.get('state').invalid && contactForm.get('state').touched">
                    <span *ngIf="contactForm.get('state').errors.required">
                      state is required.
                    </span>
                  </span>

                </div>

              </div>


              <div class="col-4">
                <div class="form-group">
                  <label> Pin Code</label>
                  <input type="text" class="form-control" placeholder="Pin Code" formControlName="pincode"
                    (keypress)="number($event)" maxlength="6">
                  <span style="color:red"
                    *ngIf="contactForm.get('pincode').invalid && contactForm.get('pincode').touched">
                    <span *ngIf="contactForm.get('pincode').errors.required">
                      pincode is required.
                    </span>
                    <span *ngIf="contactForm.get('pincode').errors.pattern">
                      pincode should be valid(Ex:123456).
                    </span>

                  </span>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label> Address Line1 </label>
                  <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address1"
                    name=address1 placeholder="Address Line1"></textarea>
                  <span style="color:red"
                    *ngIf="contactForm.get('address1').invalid && contactForm.get('address1').touched">
                    <span *ngIf="contactForm.get('address1').errors.required">
                      address1 is required.
                    </span>

                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label> Address Line2 </label>
                  <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address2"
                    name=address2 placeholder="Address Line2"></textarea>
                  <span style="color:red"
                    *ngIf="contactForm.get('address2').invalid && contactForm.get('address2').touched">
                    <span *ngIf="contactForm.get('address2').errors.required">
                      address2 is required.
                    </span>

                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Address Line3 </label>
                  <textarea class="form-control" rows="5" cols="40" class="form-control" formControlName="address3"
                    name=address3 placeholder="Address Line3"></textarea>

                </div>
              </div>
            </div>

          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button class=" btn float-right" style="background-color: #1d62a7; color: white;" data-dismiss="modal"
          type="submit" [disabled]="contactForm.invalid || datestatus || datestatus1"
          (click)="saveCustomerContactInfo(contactForm.value) ;status=!status">Create</button><br>
        <button class="btn" data-dismiss="modal" style="background-color: #1d62a7; color: white;" aria-label="Close"
          (click)="formreset(contactForm);status=!status;">Cancel</button>
      </div>
    </div>
  </div>

</div>
<!-- [disabled]="contactForm.invalid || datestatus || datestatus1  -->
<!--mymodal ends-->