
.card-body {
    background-color: #1d62a7;
    
    
}
.background{
    padding-top: 80px;
}
// .background{
// background-image: url('src/assets/forgor.v2.png');
// background-repeat:no-repeat ;
// }
.one{
    border: 0;
    outline: 0;
    background: transparent;
    color:white;
    border-bottom: 1px solid white;
}
.one::placeholder{
    color:white
}
.form-group{
    position: relative;
  }
.icn_inpt{
    position: absolute;
  right:20px;
  top:20px;
  }