<div class="background">
    <div class="container">
  
      <div class="card col-5 mx-auto" style="background-color: #1d62a7;color: white;">
  
  
        <div class="card-body">
          <h4 style="color: white;text-align: center;padding: 15px 0px;">Change Password</h4>
          <div class="mx-auto">
            <form name="form" #changePassword="ngForm" (submit)="onSubmit(changePassword.value)"
              [mustMatch]="['password', 'cpassword']" novalidate>
  
              <div class="form-group" style="padding: 10px;">
    
                  <input type="{{val}}" class="form-control one" placeholder="Current Password" name="currentpassword"
                    [(ngModel)]="currentpassword" #currentpass="ngModel" required minlength="6"><i (click)="eye()"
                    class="fa fa-eye icn_inpt" style="cursor: pointer;"></i>
  
                <div *ngIf="currentpass.touched && currentpass.invalid" style="color: red;">
                  <div *ngIf="currentpass.errors.required">Password is required</div>
                  <div *ngIf="currentpass.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
  
              <div class="form-group" style="padding: 10px;">
  
                <input type="{{val1}}" class="form-control one" placeholder="New Password" name="password"
                  [(ngModel)]="password" #pass="ngModel" required minlength="6"> <i (click)="eyeA()" class="fa fa-eye icn_inpt" style="cursor: pointer;"></i>
                <div *ngIf="pass.touched && pass.invalid" style="color: red;">
                  <div *ngIf="pass.errors.required">Password is required</div>
                  <div *ngIf="pass.errors.minlength">Password must be at least 6 characters</div>
  
                </div>
              </div>
  
              <div class="form-group" style="padding: 10px;">
            
                  <input type="{{val2}}" class="form-control one" placeholder="Re-enter New Password" name="cpassword"
                    [(ngModel)]="cpassword" #cpass="ngModel" required> <span ><i (click)="eyeB()" class="fa fa-eye icn_inpt" style="cursor: pointer;"></i></span>
                <div *ngIf="cpass.touched && cpass.invalid" style="color: red;">
                  <div *ngIf="cpass.errors.required">Password is required</div>
                  <div *ngIf="cpass.errors.mustMatch">Password Not Match</div>
  
                </div>
              </div>
  
              <div style="padding-top: 20px;">
                <button type="submit" class="btn btn-success float-right"
                  [disabled]="changePassword.invalid">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>