<div *ngIf="loading">
    <div class="loader mx-auto my-auto"></div>
</div>

<div class="container-fluid" [ngClass]="{'opacityToScreen':loading}">


    <div class="row">
        <div class="col-sm-7 lft_cont">
            <img src="assets/Obs.jpg" class="obs">
        </div>
        <div class="col-sm-5 bg">

            <div class="login-box">
                <form class="login-form" [formGroup]="OBSLoginForm" (ngSubmit)="LoginAction(OBSLoginForm.value)">
                    <div class="mb-4">
                        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
                    </div>


                    <div class="form-group">

                        <i class="fa fa-user icn_inpt" style="color:white" aria-hidden="true"></i> <input type="text"
                            class="form-control form" (keypress)="number($event)" placeholder="Employee ID"
                            required="required" [(ngModel)]="uname" formControlName="UserName" style="width:300px;">
                        <div *ngIf="OBSLoginForm.controls.UserName.touched && OBSLoginForm.controls.UserName.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.UserName.errors.required">
                                EmployeeId is required.
                            </span>
                            <span *ngIf="OBSLoginForm.controls.UserName.errors.pattern">
                                Invalid employee id entered.
                            </span>

                        </div>
                    </div>
                    <div class="form-group">

                        <span> <i class="fa fa-key icn_inpt" style="color:white" aria-hidden="true"></i></span> <input
                            type="{{val}}" class="form-control form" placeholder="Password" required="required"
                            formControlName="UserPassword" style="width:300px;"><span style="color: white;"><i
                                style="cursor: pointer;" class="fa fa-eye inpass" (click)="eye()"></i></span>
                        <div *ngIf="OBSLoginForm.controls.UserPassword.touched && OBSLoginForm.controls.UserPassword.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.UserPassword.errors.required">
                                Password is required.
                            </span>
                        </div>
                        <!-- <label class="float-right">
									
						<input type="checkbox"  (click)="eye()" style="margin-top:10px; color:white;"
                                           ><span style="color:white;">Show Password</span></label><br> -->
                    </div>
                    <div class="form-group">
                        <p *ngIf="status" style="color:red;font-size:16px">Invalid Credentials</p>
                    </div>
                    <div class="form-group">
                        <div class="utility row ">
                            <div class="animated-checkbox col-6">
                                <label>
                                    <input type="checkbox" [disabled]="OBSLoginForm.invalid"><span
                                        class="label-text">Stay Signed in</span>
                                </label>
                            </div>
                            <div class="col-5">
                                <a href="#myModal" class="btn btn-primary" data-toggle="modal" class="forgot-link"
                                    style="padding-left: 10px;">Forgot Password?
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row mx-auto">
                            <img class="captImg" src="assets/lineanddots.jpg">
                            <canvas id="captcha" height="50px" width="180px" class="capt"></canvas>
                            <i class="fa fa-refresh my-auto m-2" (click)="random()"
                            style="font-size:28px;color: white;"></i>  
                        </div>
                         <input type="text" class="form-control form cap" placeholder="Enter above Captcha" (keypress)="fun()" required="required"
                            formControlName="Captcha" style="width:300px;">
                        <div *ngIf="OBSLoginForm.controls.Captcha.touched && OBSLoginForm.controls.Captcha.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.Captcha.errors.required">
                               Captcha is required.
                            </span>
                        </div>
                        <p *ngIf="captchastatus" style="color: red">
                            {{msg}}
                        </p>
                    </div>
                    <div class="row ">
                        <button class="btn btn-submit mx-auto " [disabled]="OBSLoginForm.invalid"><i
                                class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
                    </div>

                </form>
            </div>


            <!--fogot password-->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-newsletter">
                    <div class="modal-content">
                        <form [formGroup]="forgotForm" class="form-group">
                            <div class="modal-header">
                                <div class="icon-box">
                                    <i class="fa fa-envelope-open-o"></i>
                                </div>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true"><span>&times;</span></button>
                            </div>
                            <div class="modal-body text-center">
                                <h5>Send OTP to Email</h5>
                                <div>
                                    <input type="text" class="form-control" formControlName="eid" [(ngModel)]="uname"
                                        placeholder="Username">

                                    <div style="padding-top:10px;">
                                        <span
                                            *ngIf="forgotForm.controls.eid.pristine || (forgotForm.controls.eid.dirty && forgotForm.controls.eid.valid)">*Usually
                                            Employee ID is your username</span>
                                        <span style="color:red"
                                            *ngIf="forgotForm.controls.eid.invalid && forgotForm.controls.eid.dirty ">
                                            <span *ngIf="forgotForm.controls.eid.errors.required">
                                                *EmployeeId is required.
                                            </span>
                                            <span *ngIf="forgotForm.controls.eid.errors.pattern">
                                                *Invalid employee id entered.
                                            </span>
                                            <br>
                                            <span *ngIf="isError">
                                                *{{errMsg}}.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group btn-container mx-auto">
                                    <button class="btn btn-block" [disabled]="forgotForm.invalid" (click)="sendMail()"
                                        data-dismiss="modal">SEND</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>