
<div  class="app-title">
    <div>
        <h1 *ngIf="!user"><i class="fa fa-user"></i> Employee-Info</h1>
        <h1 *ngIf="user"><i class="fa fa-user"></i> My-Info</h1>
        <p class="pl-4">Ojas Business Suite</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">

        <li class="breadcrumb-item active"> <button type="button" class="btn"
             (click)="navigateTo()"><span><i
                  class="fa fa-home"></i>&nbsp;Dashboard</span></button></li>
      </ul>
    </div>

<!-- <div class="row m-0"> -->
  <!-- <div class="col-11 p-0 pl-4 pt-3"><b> Employee Details </b></div> -->
  <!-- <div class="col-1 p-0 pl-4 pt-3"><i class="fa fa-bell" style="font-size: 20px;"> <div class="circle"></div></i>  </div> -->
<!-- </div> -->
<!-- <div class="row m-0"> -->
  <!-- <div class="col-11 p-0  pl-4 pt-1"><p style="font-size: 13px;color: #a1a1a1">Home / Employee Details / User Managements</p></div> -->
<!-- <div class="col-1 p-0 pl-2" ><button class="btn btn-primary" (click)="backClicked()"><i class="fa fa-arrow-left pr-1" style="font-size: 10px"></i>Back</button> </div> -->

<div class="pull-right"><p (click)="backClicked()" style="font-size: 16px;cursor: pointer;"><i class="fa fa-arrow-left pr-1"  ></i>Back</p></div>
<!-- </div> -->





<nav class="navbar navbar-expand-lg navbar-light" id="topheader">
<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav nav-tabs emd_edt">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="basicInfo">Basic Info</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="education">Educational Summary</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="professional">Professional Summary</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="kye">KYE</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="resignation">Resignation</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="dependents">Dependents</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="profile">Profile</a>
    </li>
  </ul>
</div>
</nav>
<br>
<h4 style="padding-left: 20px;">Employee ID: {{eid}}</h4>

<div>
<router-outlet></router-outlet>
</div>