<div class="app-title">
  <div>
    <h1><i class="fa fa-th-list"></i> Employee Designation</h1>
    <p class="pl-4">Ojas Business Suite</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="active"> <button type="button" class="btn bttn">
        <a class="undlne" (click)="navigateTo()"><span><i class="fa fa-home"></i>&nbsp;Dashboard</span></a> </button>
    </li>
  </ul>
</div>



<div class="row" style="margin-bottom: 25px;">
  <div class="col-4">
    <form>

      <input type="text" class="form-control" name="key" [(ngModel)]="key" size="50" placeholder="Search" (input)="searchPage()">
    </form>
  </div>
  <div class="col-8 text-right">
    <button type="submit" (click)="value=!value;clear()" *ngIf="addb" class="btn">Add Employee Designation</button>
  </div>


</div>

<div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;">
  <form #employee1="ngForm">
    <table class="table table-condensed tile" style="width:100%">
      <thead style="background-color: #1d62a7;color:white" class="text-center">
        <tr>
          <!-- <th>S.no</th> -->
          <th>Employee Designation </th>
          <th>Status</th>
          <th>Edit</th>
          <!-- <th>Delete</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let bulist of empDesignationlist  | filter:key | paginate: { itemsPerPage:pageSize, currentPage: p }; let i=index "
          class="text-center">
          <!-- <td>{{i+1}}</td> -->
          <td>
            <div *ngIf="!bulist.isEditable">
              {{bulist.designation}}
            </div>
            <div *ngIf="bulist.isEditable">
              <input type="text" name="designation" [(ngModel)]="editname" class="form-control" #des="ngModel" required
                pattern="[A-Za-z]{1}[A-Za-z. ]*" />

              <div style="color:red" *ngIf="des.invalid && des.touched ">
                <span *ngIf="des.errors.required">
                  Please enter designation
                </span>
                <span *ngIf="des.errors.pattern">
                  Please enter valid designation
                </span>
              </div>
            </div>


          </td>
          <td>Active</td>
          <td>

            <button class="btn " *ngIf="bulist.isEditable"
              (click)="bulist.isEditable=!bulist.isEditable;saveUpdatedValues(employee1.value);"
              [disabled]="employee1.invalid">Update</button> &nbsp;
            <button class="btn " (click)="bulist.isEditable=!bulist.isEditable" (click)="cancel()"
              *ngIf="bulist.isEditable">Cancel</button>
            <span style="color:#1d62a7;font-size:20px" (click)='bulist.isEditable =!bulist.isEditable'
              (click)="edit(bulist.id,bulist.designation)" *ngIf="!bulist.isEditable"><i class="fa fa-edit"
                [class.disabled]="noedit"></i></span>

          </td>
          <!-- <td><img src="assets/delete.png" width="20"  (click)="deleteDesignation(bulist);"/></td> -->
        </tr>

        <tr>

          <td *ngIf="value">
            <input name="employee" [(ngModel)]="employee" type="text" class="form-control" #role="ngModel"
              placeholder="Enter employee Designation" required pattern="[A-Za-z]{1}[A-Za-z. ]*">

            <div *ngIf="role.invalid && role.touched">
              <span *ngIf="role.errors.required" style="color:red;"> Please enter designation </span>
              <span *ngIf="role.errors.pattern" style="color:red;"> Please enter valid designation </span>
            </div>
          </td>
          <td *ngIf="value">
            <button class="btn " type="submit" [disabled]="employee1.invalid"
              (click)="setEmpDesignation(employee1.value)">Save</button>&nbsp;
            <button type="submit" class="btn " (click)=cancelbulist()>Cancel</button>

          </td>
        </tr>
      </tbody>


    </table>
  </form>
</div>

<!-- <div class="col-6">
    <form *ngIf="value" #form="ngForm" (ngSubmit)="setEmpDesignation(form)">
      <input name="employee" [(ngModel)]="employee" *ngIf="value" type="text" class="form-control"
        placeholder="Enter employeeDesignation" required > -->

<!-- <div *ngIf="form.submitted && employee.valid" class="alert alert-danger">
            <p >Name is required</p>
          </div> -->
<!-- <div [hidden]="employee.valid || employee.pristine" class="alert alert-danger">
        <p >Name is required</p>
      </div> -->

<!-- <div *ngIf="form.submitted && employee.valid" class="alert alert-danger">
          <div *ngIf="form.get('employee').errors.required">Enter valid name</div>
      </div>


      <button type="submit" class="btn btn-primary " *ngIf="value" [disabled]=form.form.invalid>Save</button>
      <button type="submit" class="btn btn-default " *ngIf="value" (click)=cancelbulist()>Cancel</button>
    </form> -->

<!-- </div> -->

<pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
<div class="row">
  <label class="ml-3 iteams" >Items per page: </label>&nbsp;&nbsp;&nbsp;


  <select id="PerPage" class="pull-right" [(ngModel)]="pageSize" (change)="searchPage()">
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="15">15</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="25">25</option>
  </select>

</div>
<!-- private pageSize: number = 5; -->













<!-- <td>
              <button class="btn btn-primary" (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable"  type="button"><i class="fa fa-pencil"></i></button>
              <button *ngIf="data.isEditable" (click)="data.isEditable=!data.isEditable">Update</button> 
          </td>
         
          <td>
              <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td> -->