.titleHeading{
    text-align: center;
    background-color:#f2c65e;
    color: #1d62a7;
    padding: 10px;
    margin-bottom: 0px !important;
 }
 .row{
    margin:10px
 }
 .tstyle{
   background-color:#1d62a7;
   color:white;
   margin-left:5px;
 }

 .bttn{
   color:white;
   background: #1D62A7;
   border-color:#1D62A7;
   border-radius: 10px;
 }
 .heading{
  color: #1d62a7;
  font-size: 20px;
  font-weight: bold;
}