<div class="bgColor shadow in">
    <div class="col-md-12">
      <span style="font-size: 18px;">
        <h5>Resource Management Proposals</h5>
      </span>
    </div>
    <hr>
      <button class="btn btn-primary float-right" style="background-color: #1d62a7;color: white;" *ngIf="backhide" (click)="back()">Back</button>
   
  
  <div class="row" *ngIf="hidedtab">
      <div class="col-md-5">
        <input type="text" class="form-control" name="key" [(ngModel)]="search" size="20" placeholder="Search">
      </div>
    </div>
    <!-- proposals start here -->
  <br>
    <div *ngIf="hidedtab">
  
      <div class="table table-responsive">
  
        <table class="table text-center tablefontsize" style="border-radius: 3px;font-size:14px">
  
          <thead style="background-color: #1d62a7; color: cornsilk; ">
            <th>Booking Id</th>
  
            <th>Resource Type</th>
            <th>Project Id</th>
            <th>Project Name</th>
  
            <th>Status</th>
  
  
  
            <!-- <th>Book Resource</th> -->
            <th>More Info</th>
  
          </thead>
          <tbody>
            <tr *ngFor="let resouceProposal of rmgProposal | rmgpipe:search | paginate: { itemsPerPage: pages, currentPage:pd, id:'pd' };let i=index">
              <td>{{resouceProposal.bookingId}}</td>
              <td>{{resouceProposal.resourceType}}</td>
              <td>{{resouceProposal.projectId}}</td>
              <td>{{resouceProposal.projectName}}</td>
              <td>{{resouceProposal.status}}</td>
              <!-- <td><button class="btn btn-primary" (click)="book()">Book</button></td> -->
              <td><img src="assets/moreinfo.jpg" height="20px" width="20px" style="cursor: pointer;"
                  (click)="bookmore(resouceProposal.bookingId)"></td>
            </tr>
  
  
  
          </tbody>
  
        </table>
  
  
  
      </div>
  
  
  
      <div>
        <span class="m-2">Items per page</span>
        <select [(ngModel)]="pages">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
        <pagination-controls (pageChange)="pd = $event" id="pd" style="float:right"></pagination-controls>
  
      </div>
    </div>
  
  
  <!-- show more -->
  <div *ngIf="proposalsmoreid">
    <div class="card  mt-5">
      <div class="header shadow">
        <b>Proposals</b>
  
      </div>
      <div style="padding:20px;">
        <div class="row">
          <span class="row col-4" >
            <span class="col-5">
              <label>Booking Id </label>
            </span>
            <span class="col-1">
              :
            </span>
            <span class="col-6">
              <span>
              {{dataOfResource.bookingId}}</span>
            </span>
          </span>
          <span class="row col-4" >
            <span class="col-5">
              <label>Project Id </label>
            </span>
            <span class="col-1">
              :
            </span>
            <span class="col-6">
              <span>
              {{dataOfResource.projectId}}</span>
            </span>
          </span>
          <span class="row col-4" >
            <span class="col-5">
              <label>Resource Type </label>
            </span>
            <span class="col-1">
              :
            </span>
            <span class="col-6">
              <span>
              {{dataOfResource.resourceType}}</span>
            </span>
          </span>
          <span class="row col-4" >
            <span class="col-5">
              <label>Status </label>
            </span>
            <span class="col-1">
              :
            </span>
            <span class="col-6">
              <span>
              {{dataOfResource.status}}</span>
            </span>
          </span>


<!--   
          <div class="col-md-3">
            <p> <b>Booking Id </b>: {{dataOfResource.bookingId}}</p>
          </div>
  
          <div class="col-md-3">
            <p><b>Project Id</b> : {{dataOfResource.projectId}}</p>
          </div>
  
          <div class="col-md-3">
            <p><b>Status</b> : {{dataOfResource.status}}</p>
          </div>
  
          <div class="col-md-3">
            <p><b>Resource Type</b> : {{dataOfResource.resourceType}}</p>
          </div> -->
  
        </div>
        <div *ngIf="specificMoreInfo">
          <div *ngFor="let r of specificDataSp">
  
              <div class="row" style="background-color: #ebe9e9;">
                <span class="row col-4" >
                  <span class="col-5">
                    <label>Employee Id </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.employeeId}}</span>
                  </span>
                </span>
                <span class="row col-4" >
                  <span class="col-5">
                    <label>Start Date </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.startDate|date}}</span>
                  </span>
                </span>
                <span class="row col-4" >
                  <span class="col-5">
                    <label>End Date </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.endDate|date}}</span>
                  </span>
                </span>
                <span class="row col-4" >
                  <span class="col-5">
                    <label>Bill Rate </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.billRate}}</span>
                  </span>
                </span>
                <span class="row col-4" >
                  <span class="col-5">
                    <label>Alternative Employee Id </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.alternateemployeeId}}</span>
                  </span>
                </span>
                <span class="row col-4" >
                  <span class="col-5">
                    <label>Reason </label>
                  </span>
                  <span class="col-1">
                    :
                  </span>
                  <span class="col-6">
                    <span>
                    {{r.reason}}</span>
                  </span>
                </span>
              
                <!-- <div class="col-md-3">
                  <p><b>Employee Id </b>: {{r.employeeId}}</p>
                </div>
                
                <div class="col-md-3">
                  <p><b>Start Date :</b> {{r.startDate|date}}</p>
                </div>
                <div class="col-md-3">
                  <p><b>End Date :</b> {{r.endDate|date}}</p>
                </div>
                <div class="col-md-3">
                    <p><b>Bill Rate :</b> {{r.billRate}}</p>
                  </div>
                  <div class="col-md-3">
                    <p><b>Alternative Employee Id :</b> {{r.alternateemployeeId}}</p>
                  </div>
                  <div class="col-md-3">
                    <p><b>Reason :</b> {{r.reason}}</p>
                  </div> -->

<div  class="col-md-6" *ngIf="showRequestbutton&&role!='ROLE_STAFFAUGHEAD'">
  <button class="btn btn-success " (click)="approveByMananger(dataOfResource,r)">Approve</button>&nbsp;&nbsp;
  <button class="btn btn-danger " (click)="rejectByManager(dataOfResource,r)">Reject</button> 
</div>

    
              </div>
             
              
              <hr>
    
            </div>
      </div>
      <div *ngIf="!specificMoreInfo">
          <div *ngFor="let resourceDataArray of dataOfResource.rmggeneric">
  
              <div class="row" style="background-color: #ebe9e9;">
    
                  <div class="col-md-3">
                      <p><b>Resourse Skill :</b> {{resourceDataArray.resourceSkills}}</p>
                    </div>
                    <div class="col-md-3">
                      <p><b>Resourse Experience :
                        </b>{{resourceDataArray.resourceExperience}}</p>
                    </div>
                
                <div class="col-md-3">
                  <p><b>Start Date :</b> {{resourceDataArray.startDate|date}}</p>
                </div>
                <div class="col-md-3">
                  <p><b>End Date :</b> {{resourceDataArray.endDate|date}}</p>
                </div>
    
              </div>
              <div class="row" style="background-color: #ebe9e9;">
                <div class="col-md-3">
                  <p><b>Resourse Count :</b> {{resourceDataArray.resourceCount}}</p>
                </div>
                
                <div class="col-md-3">
                  <p><b>Resourse Cost :</b> {{resourceDataArray.billRate}}</p>
                </div>
    
              </div>
              <br>
    
            </div>
      </div>
      </div>
    </div>
  </div>
  </div>