<div class="app-title">
    <div>
      <h1><i class="fa fa-user"></i> Personal Details</h1>
      <p class="pl-4">Ojas Business Suite</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
   
      <li class="breadcrumb-item active">  <button type="button" class="btn" >
      <a class="undlne" (click)="backClicked()" routerLinkActive="active"><span><i class="fa fa-home"></i>&nbsp;Dashboard</span></a> </button></li>
    </ul>
  </div>

<div class="row">
    <span class="col-1 p-0 pl-2 ml-auto" (click)="backClicked()" style="font-size: 16px;cursor: pointer;"><i
      class="fa fa-arrow-left pr-1"></i>Back</span>
</div>
<br>

<div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;">
  <table class="table table-hover  tile">
    <thead class="two" style="background-color:  #1D62A7; color: white !important">
      <tr style="font-size: 17px;">
        <th>Employee Id </th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Designation</th>

        <!-- <th>Edit</th> -->
        <!-- <th>Delete</th> -->
      </tr>
    </thead>
    <tr
      *ngFor="let empbasic of empbasicinfo">

      <td>{{empbasic.employeeId}} </td>
      <td>{{empbasic.firstname}} </td>
      <td>{{empbasic.middlename}} </td>
      <td>{{empbasic.lastname}}</td>
      <td>{{empbasic.status}}</td>
      <td>{{empbasic.dob | date: 'dd/MM/yyyy'}}</td>
      <td>{{empbasic.gender|titlecase}} </td>
      <td>{{empbasic.title}}</td>



      <!-- <td><img src="/assets/pe.png" width="35px" data-toggle="modal" data-target="#myModal11"
                    (click)="getbyIdbasicdata(empbasic)"></td> -->
      <!-- <td><img src="/assets/delete.png" width="25px"(click)="deleteemp(empbasic)"></td> -->

    </tr>
  </table>


</div>
