

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #1d62a7;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  * {
      box-sizing: border-box;
    }
    
    // #myInput {
    //   background-image: url('/css/searchicon.png');
    //   background-position: 10px 10px;
    //   background-repeat: no-repeat;
    //   width: 100%;
    //   font-size: 16px;
    //   padding: 12px 20px 12px 40px;
    //   border: 2px solid #ddd;
    //   margin-bottom: 12px;
    //   border-radius: 25px;
    // }
    
    #myTable {
      border-collapse: collapse;
      width:100%;
      border: 3px solid #ddd;
      font-size: 16px;
     
      height: auto;
     
    }
    
    #myTable th, #myTable td {
      text-align: left;
      padding: 12px;
    }
    
    #myTable tr {
      border-bottom: 1px solid #ddd;
      height: 20px;
      
    }
    
    #myTable tr.header, #myTable tr:hover {
  
      color:black;
    }
    .name{
        padding-right: 30px;
    }
    .image{
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
    }
    .sd{
        font-size: 20px;  
      
    }
    // td:hover{
    //   background:red;
    // }
    tbody { 
      height:80em;  
      overflow-y:scroll;
      color:black;
           }
    thead ,tbody tr {
                display: content;
                table-layout: fixed;
              }
              td{
                height: 20px;
              }
  th {
      font-family:Arial, FontAwesome;
      
      }           
      thead{
        background-color:#1d62a7;
      
      }
  
      input:hover,:focus {
        
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
        
    }
    button{
      background-color:EFF7FA;
      font-size: 16px;
      cursor: pointer;
    }
    .bttn{
        background-color:white !important;
        color: black;
    }
    .scrollData{
      height: 670px !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }
  