.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .tablefontsize{
    font-size: 5px;
    }
.bttn{
    background-color: #1d62a7;
    color:white;
}
.in{
    padding: 20px;
}
.header{
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 17px;
 
}
// label{
//     font-weight: bold;
  
 
// }

.bgColor{
    background-color: white;
}
.marBtom{
    margin-bottom: 15px;
}
.row{
    padding: 5px;
}
// span{
//     padding-left: 5px;
// }
.selectpicker:hover{
    box-shadow: none;
    width: 150%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.header{
    font-size:20px;
    text-align: center;
}