.len{
    padding-left: 160px;
}
.piechart{
    height:auto;
    width:100%;
    background-color:white ;
}
p {
    font-family: Lato;
}
  .linechart{
      height:360px;
      width:600px;
      background-color:white ;
  }

  .barchart {
    height:auto;
    width:100%;
    background-color:white ;
  }
  .notification_icn{
    
        
        font-size: 1.5rem;
        text-decoration: none;
        position: relative;
       
      
      
  }
  .notification_icn span {
    position: absolute;
    top: -2px;
    right: -2px;
    background:  #6457E8;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: pulse 1s infinite;
}
@media(min-width:320px){
    .piechart{
      margin-top: 20px;
    }
    .barchart{
        margin-top: 20px;
    }
}

.dropdown-item:hover {
background-color: #1d62a7 !important;
color: white !important;
}
.btnpos{
    margin-right:50px;
}

.widget-small {
    display: flex;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.widget-small.info.coloured-icon {
    background-color: #fff;
    color: #FFFFFF;
    
}
.info{
    color:black
}
.icon{
    padding: 20px;
}
.scrollData{
    height: 670px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

