<div class="app-title">
  <div>
    <h1><i class="fa fa-th-list"></i>&nbsp;Skill</h1>
    <p class="pl-4">Ojas Business Suite</p>
  </div>

  <ul class="app-breadcrumb breadcrumb">
    <li class="active"> <button type="button" class="btn bttn">
        <a class="undlne" (click)="navigateTo()"><span><i class="fa fa-home"></i>&nbsp;Dashboard</span></a> </button>
    </li>
  </ul>
</div>

<div class="row" style="margin-bottom: 25px;">
  <div class="col-4">
    <form>

      <input type="text" class="form-control" name="key" [(ngModel)]="key" size="50" placeholder="Search" (input)="searchPage()"
        [disabled]="searchfield">
    </form>
  </div>
  <div class="col-8 text-right">
    <button type="submit" (click)="value=!value; clear()" *ngIf="addb" class="btn ">Add Skill</button>
  </div>


</div>


<div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;">

  <form #skill="ngForm">
    <table class="table table-condensed tile" style="width:100%">
      <thead style="background-color: #1d62a7;color:white" class="text-center">

        <tr>
          <!-- <th>Id</th> -->
          <!-- <th>Skill Id</th> -->
          <th>Skill Name</th>
          <th>Status</th>
          <th>Edit</th>

        </tr>
      </thead>

      <tbody>

        <tr
          *ngFor="let skilltable of skillInfoList| filter:key |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i=index "
          class="text-center">
          <!-- <td>
            <div *ngIf="!skilltable.isEditable">
                {{skilltable.id}}
          </div>
          <input type="text" [(ngModel)]="id" *ngIf="skilltable.isEditable"/>
        </td> -->
          <!--        
        <td>
            <div *ngIf="!skilltable.isEditable">
                {{skilltable.skill_id}}
          </div>
          <input type="text" [(ngModel)]="skilltable.skill_id" *ngIf="skilltable.isEditable"/>
        </td> -->
          <td>
            <div *ngIf="!skilltable.isEditable">
              {{skilltable.skill_name}}
            </div>
            <div *ngIf="skilltable.isEditable">
              <input type="text" name="skill_name" #skill="ngModel" required pattern="[A-Za-z]{1}[A-Za-z0-9. ]*"
                [(ngModel)]="editname" class="form-control" />
              <div style="color:red" *ngIf="skill.invalid && skill.touched ">
                <span *ngIf="skill.errors.required">
                  Please enter skill name
                </span>
                <span *ngIf="skill.errors.pattern">
                  Please enter valid skill name
                </span>
              </div>
            </div>
          </td>


          <td>Active</td>
          <td> <span style="color:#1d62a7;font-size:20px" (click)='skilltable.isEditable =!skilltable.isEditable'
              (click)="edit(skilltable.id,skilltable.skill_name)" *ngIf="!skilltable.isEditable"><i class="fa fa-edit"
                [class.disabled]="noedit"></i></span>
            <button class="btn " *ngIf="skilltable.isEditable"
              (click)="skilltable.isEditable=!skilltable.isEditable;skillUpdatemaster(skill.value);"
              [disabled]="skill.invalid">Update</button>&nbsp;
            <button type="submit" class="btn " *ngIf="skilltable.isEditable"
              (click)="(skilltable.isEditable=!skilltable.isEditable)" (click)="cancel()">Cancel</button>
          </td>
        </tr>

        <!-- <tr> -->

        <!-- <td><input id="businessunit" name="businessunit" [(ngModel)]="skill_id" *ngIf="value" type="text" class="form-control" placeholder="Enter Skillname" required ></td> -->
        <!-- <td>
         <input id="businessunit" name="businessunit" [(ngModel)]="skill_name" *ngIf="value" type="text" class="form-control" placeholder="Enter Skillname" required >
         <div [hidden]="businessunit.valid || businessunit.pristine"
     class="alert alert-danger">
  Name is required
</div>
      </td>
        <td><button type="submit" class="btn  " *ngIf="value" (click)=setSkillInfo(SkillArr) >Save</button>
          <button type="submit" class="btn btn-default " *ngIf="value" (click)=cancelbulist()>Cancel</button></td>
         
       </tr>  -->



        <tr>

          <td *ngIf="value">
            <input name="businessunit" [(ngModel)]="skill_name" type="text" class="form-control" #role="ngModel"
              placeholder="Enter Skill Name" required pattern="[A-Za-z]{1}[A-Za-z0-9. ]*">
            <div *ngIf="role.invalid && role.touched">
              <span *ngIf="role.errors.required" style="color:red;"> Please enter skill name </span>
              <span *ngIf="role.errors.pattern" style="color:red;"> Please enter valid skill name </span>
            </div>
          </td>
          <td *ngIf="value">
            <button class="btn " type="submit" [disabled]="skill.invalid"
              (click)="setSkillInfo(skill.value)">Save</button>&nbsp;
            <button type="submit" class="btn  " (click)=cancelbulist()>Cancel</button>

          </td>

        </tr>


      </tbody>


    </table>

  </form>
</div>
<!-- <div class="input-group  " >
          <button type="submit" (click)="value=!value"class="btn " ><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div> -->


<!-- <div class="col-6">
        <form *ngIf="value" #form="ngForm" (ngSubmit)="setSkillInfo(form)">
          <input id="businessunit" name="businessunit" [(ngModel)]="skill_name" *ngIf="value" type="text" class="form-control"
            placeholder="Enter Skillname" required>
          <!-- <div [hidden]="businessunit.valid || businessunit.pristine" class="alert alert-danger">
            Name is required
          </div> -->

<!-- <div *ngIf="form.submitted && businessunit.valid" class="alert alert-danger">
              <div *ngIf="businessunit.errors.required">Enter valid name</div>
          </div>
      
      
          <button type="submit" class="btn  " *ngIf="value" [disabled]=form.form.invalid>Save</button>
          <button type="submit" class="btn btn-default " *ngIf="value" (click)=cancelbulist()>Cancel</button>
        </form>
      
      </div> -->





<pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
<div class="row">
  <label class="ml-3 iteams">Items per page: </label>&nbsp;&nbsp;&nbsp;


  <select id="PerPage" class="pull-right" [(ngModel)]="pageSize" (change)="searchPage()">
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="15">15</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="25">25</option>
  </select>

</div>
<!-- private pageSize: number = 5; -->