.in{
    padding: 20px;
}
.bgColor{
    background-color: white;
}
.header{
    font-size:20px;
    text-align: center;
}
.bttn{
    background-color:#1D62A7;
    border-color: #1D62A7;
    color:white
}