<div class="app-title">
  <div>
    <h1><i class="fa fa-th-list"></i>&nbsp;Emp-Experience</h1>
    <p class="pl-4">Ojas Business Suite</p>
  </div>

  <ul class="app-breadcrumb breadcrumb">
    <li class="active"> <button type="button" class="btn bttn">
        <a class="undlne" (click)="navigateTo()"><span><i class="fa fa-home"></i>&nbsp;Dashboard</span></a> </button>
    </li>
  </ul>
</div>

  <div class="row" style="margin-bottom: 25px;">
    <div class="col-4">
      <form>
  
        <input type="text" class="form-control" name="key" [(ngModel)]="key" size="50" placeholder="Search" (input)="searchPage()"
          [disabled]="searchfield">
      </form>
    </div>
    <div class="col-8 text-right">
      <button type="submit" (click)="value=!value; clear()" *ngIf="addb" class="btn ">Add Emp-Experience</button>
    </div>
  
  
  </div>
  
  
  <div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;">
  
    <form #empExperience="ngForm">
      <table class="table table-condensed tile" style="width:100%">
        <thead style="background-color: #1d62a7;color:white" class="text-center">
  
          <tr>
  
            <th>Emp-Experience</th>          
            <th>Status</th>
            <th>Edit</th>
  
          </tr>
        </thead>
  
        <tbody>
  
          <tr
            *ngFor="let empExperienceTable of table| rmg:key |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i=index "
            class="text-center">
  
            <td>
              <div *ngIf="!empExperienceTable.isEditable">
                {{empExperienceTable.empExperience}}
              </div>
              <div *ngIf="empExperienceTable.isEditable">
                <input type="text" name="empExperience_type" #empExperience="ngModel" required pattern="[0-9]*\.)?[0-9]{1,2}$"  min="3" max="4" placeholder="Please enter Employee-Experience "
                  [(ngModel)]="empExperienceTable.empExperience" class="form-control" />
                <div style="color:red" *ngIf="empExperience.invalid && empExperience.touched ">
                  <span *ngIf="empExperience.errors?.required">
                    Please enter Employee-Experience
                  </span>
                  <span *ngIf="empExperience.errors?.pattern">
                    Please enter valid Employee-Experience
                  </span>
                </div>
              </div>
            </td>         
  
            <td>
              <div *ngIf="empExperienceTable.status">Active</div>
              <div *ngIf="!empExperienceTable.status">In Active</div>
              <!-- {{empExperienceTable.status}} -->
            </td>
            
            <td> <span style="color:#1d62a7;font-size:20px" (click)='empExperienceTable.isEditable =!empExperienceTable.isEditable'
                (click)="edit(empExperienceTable)" *ngIf="!empExperience.isEditable"><i class="fa fa-edit"
                  [class.disabled]="noedit"></i></span>
  
              <button class="btn" *ngIf="empExperienceTable.isEditable"
                (click)='empExperienceTable.isEditable=!empExperienceTable.isEditable' (click)= "updateempExperiencetype(empExperience.value)"
                [disabled]="empExperience.invalid">Update</button>&nbsp;
              
                <button type="submit" class="btn " *ngIf="empExperienceTable.isEditable"
                (click)='empExperienceTable.isEditable =!empExperienceTable.isEditable' (click)="cancel()">Cancel</button>
            </td>
          </tr>
  
          <tr>
  
            <td *ngIf="value">
              <input name="addempExperience" [(ngModel)]="empExperience_type" type="text" class="form-control" #role="ngModel"
                placeholder="Enter Emp-Experience" required pattern="[0-9]*\.)?[0-9]{1,2}$" min="3" max="4">
              <div *ngIf="role.invalid && role.touched">
                <span *ngIf="role.errors.required" style="color:red;"> Please enter Employee-Experience</span>
                <span *ngIf="role.errors.pattern" style="color:red;"> Please enter valid Employee-Experience</span>
              </div></td>          
            <td *ngIf="value">
              <button class="btn" type="submit" [disabled]="empExperience.invalid"
                (click)="setempExperiences(empExperience_type)">Save</button>&nbsp;
              <button type="submit" class="btn" (click)=cancelbulist()>Cancel</button>
  
            </td>
  
          </tr>
  
  
        </tbody>
  
  
      </table>
  
    </form>
  </div>
  
  <pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
  <div class="row">
    <span class="ml-3">Items per page: </span>&nbsp;&nbsp;&nbsp;
  
  
    <select id="PerPage" class="pull-right" [(ngModel)]="pageSize" (change)="searchPage()">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="15">15</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="25">25</option>
    </select>
  
  </div>
  