<div class="app-title">
  <div>
    <h1><i class="fa fa-th-list"></i>&nbsp;Interview Mode</h1>
    <p class="pl-4">Ojas Business Suite</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="active"> <button type="button" class="btn bttn">
        <a class="undlne" (click)="navigateTo()"><span><i class="fa fa-home"></i>&nbsp;Dashboard</span></a> </button>
    </li>
  </ul>
</div>

<div class="row" style="margin-bottom: 25px;">
  <div class="col-4">
    <form>

      <input type="text" class="form-control" name="key" [(ngModel)]="key" size="50" placeholder="Search" (input)="searchPage()"
        [disabled]="searchfield">
    </form>
  </div>
  <div class="col-8 text-right">
    <button type="submit" (click)="value=!value; clear()" *ngIf="addb" class="btn ">Add Interview Mode</button>
  </div>


</div>


<div class="row top table-responsive" style="margin-right: 0px; margin-left: 0px;">

  <form #interviewModeform="ngForm">
    <table class="table table-condensed tile" style="width:100%">
      <thead style="background-color: #1d62a7;color:white" class="text-center">

        <tr>

          <th>Interview Mode</th>
          <th>Status</th>
          <th>Edit</th>

        </tr>
      </thead>

      <tbody>

        <tr
          *ngFor="let interviewModeTable of table| filter:key |  paginate: { itemsPerPage: pageSize, currentPage: p } ; let i=index " class="text-center">
    <!-- *ngFor="let actionownerTable of table|   paginate: { itemsPerPage: pageSize, currentPage: p } | filter:key; let i=index " -->

          <td>
            <div *ngIf="!interviewModeTable.isEditable">
              {{interviewModeTable.interviewMode}} 
            </div>
            <div *ngIf="interviewModeTable.isEditable">
              <input type="text" name="interviewMode" #interviewModeform="ngModel" required pattern="[A-Za-z]{1}[A-Za-z0-9. ]*"
                [(ngModel)]="editname" class="form-control" />
              <div style="color:red" *ngIf="interviewModeform.invalid && interviewModeform.touched ">
                <span *ngIf="interviewModeform.errors.required">
                  Please enter Interview Mode
                </span>
                <span *ngIf="interviewModeform.errors.pattern">
                  Please enter valid Interview Mode
                </span>
              </div>
            </div>
          </td>

     


          <td>
              <div *ngIf="interviewModeTable.status">
                  Active
                </div>
                <div *ngIf="!interviewModeTable.status">
                    In Active
                  </div>
            
            <!-- <div>
            {{interviewModeTable.status}} 
          </div> -->
        </td>
          
          <td> <span style="color:#1d62a7;font-size:20px" (click)='interviewModeTable.isEditable =!interviewModeTable.isEditable'
              (click)="edit(interviewModeTable.interviewmodeId,interviewModeTable.interviewMode,interviewModeTable.status)" *ngIf="!interviewModeTable.isEditable"><i class="fa fa-edit"
                [class.disabled]="noedit"></i></span>

            <button class="btn " *ngIf="interviewModeTable.isEditable"
              (click)='interviewModeTable.isEditable=!interviewModeTable.isEditable' (click)= "updateinterviewMode(interviewModeform.value)"
              [disabled]="interviewModeform.invalid">Update</button>&nbsp;
            
              <button type="submit" class="btn " *ngIf="interviewModeTable.isEditable"
              (click)='interviewModeTable.isEditable =!interviewModeTable.isEditable' (click)="cancel()">Cancel</button>
          </td>
        </tr>

        <tr>

          <td *ngIf="value">
            <input name="addinterviewMode" [(ngModel)]="interviewMode1" type="text" class="form-control" #role="ngModel"
              placeholder="Enter Interview Mode " required pattern="[A-Za-z]{1}[A-Za-z0-9. ]*">
            <div *ngIf="role.invalid && role.touched">
              <span *ngIf="role.errors.required" style="color:red;"> Please enter Interview Mode </span>
              <span *ngIf="role.errors.pattern" style="color:red;"> Please enter valid Interview Mode </span>
            </div>
          </td>
          <td *ngIf="value">
            <button class="submit"  class="btn" style="background-color: #1d62a7; color:white"
             (click)="setInterviewModel(interviewModeform.value)"
             [disabled]="interviewMode.invalid" >Save</button>&nbsp;
            <button type="submit" class="btn" (click)=cancelbulist()>Cancel</button>

          </td>

        </tr>


      </tbody>


    </table>

  </form>
</div>

<pagination-controls class="pull-right" (pageChange)="p = $event"></pagination-controls>
<div class="row">
  <span class="ml-3">Items per page: </span>&nbsp;&nbsp;&nbsp;


  <select id="PerPage" class="pull-right" [(ngModel)]="pageSize" (change)="searchPage()">
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="15">15</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="25">25</option>
  </select>

</div>